<br><br>
<%= render 'header' %>

<p>This ONLY searches article titles right now.</p>
<%# https://melvinchng.github.io/rails/SearchFeature.html#46-search-across-multiple-tables %>

<h3>Search Result</h3>  

    <% @results.each do |result| %>  
        <%= result.title %><br>  
    <% end %>
    
    <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @results.each do |result| %>
    <tr>
      <td><%= result.title %></td>
      <td><%= result.text %></td>
      <td><%= link_to 'Show', article_path(result) %></td>
      <td><%= link_to 'Edit', edit_article_path(result) %></td>
      <td><%= link_to 'Destroy',
                                article_path(result),
                                method: :delete,
                                data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
    
<p>
    <%= link_to 'Article List', articles_path %>
</p>

<br><br><br><br><br><br><br>
