<div class="title">SuperBlue</div><br> <%# change this to a company logo image %>
    
<div class="navbar">
    <ul>
        <li><%= link_to 'Home', controller: 'welcome' %></li>
        <li><%= link_to 'Articles', controller: 'articles' %></li>
        <li><%= link_to 'Movies', controller: 'movies' %></li>
        <li><%= link_to 'Coming Soon', controller: 'coming_soon' %></li>
        <li style="float:right" class='active'><%= link_to 'Login', controller: 'login' %></li>
    </ul>
</div>