<div class="title">
<a href="./index"> <%= image_tag("logo_r1_transparent.png", alt: "SuperBlue logo") %></a> </div><br>

<div class="navbar">
    <ul>
        <li class="<%= 'active' if current_page?(controller: 'welcome') || current_page?(root_path) %>"><%= link_to 'Home', controller: 'welcome' %></li>
        <li class="<%= 'active' if current_page?(controller: 'articles') %>"><%= link_to 'Articles', controller: 'articles' %></li>
        <li class="<%= 'active' if current_page?(controller: 'movies') %>"><%= link_to 'Movies', controller: 'movies' %></li>
        <li class="<%= 'active' if current_page?(controller: 'stories') %>"><%= link_to 'Stories', controller: 'stories' %></li>
                <% if current_user %>
            <!--<li style="float:right" class="<%= 'active' if current_page?(controller: 'login') %>"><%= link_to "Log Out", logout_path %></li>-->
            <!--<li style="float:right" class="<%= 'active' if current_page?(controller: 'login') %>"><%= link_to "Log Out", logout_path %></li>-->
            <li style="float:right" class="<%= 'active' if current_page?(controller: 'login') %>"><a href="<%= logout_path %>">Log out <%= current_user.name %></a></li>
        <% else %>
            <li class="dropdown">
                <div class="<%= 'active' if current_page?(controller: 'login') %>"><%= link_to 'Login', controller: 'login' %></div>
                
                <div class="dropdown-content">
                    <ddli><%= link_to 'Sign Up', signup_path %></ddli>
                </div>
                
            </li>
        <% end %>
    </ul>
</div>

<footer>
    <div class="footer">
        <hr>
        <p>Copyright &copy; 2020 Corey, Kyril, Kevin, and Hailey - Students at UNC Charlotte<br>ITSC 3155 - Software Engineering - Spring 2020 - Dr. Najjar</p>
    </div>
</footer>