<div class="title">
<a href="./index"> <%= image_tag("logo_r1_transparent.png", alt: "SuperBlue logo") %></a> </div><br>

<div class="navbar">
    <ul>
        <li><%= link_to 'Home', controller: 'welcome' %></li>
        <li class='active'><%= link_to 'Articles', controller: 'articles' %></li>
        <li><%= link_to 'Movies', controller: 'movies' %></li>
        <li><%= link_to 'Stories', controller: 'stories' %></li>
        <% if current_user %>
            <li style="float:right"><%= link_to "Log Out", logout_path %></li>
        <% else %>
            <li class="dropdown">
                <%= link_to 'Login', controller: 'login' %>
                
                <div class="dropdown-content">
                    <ddli><%= link_to 'Sign Up', signup_path %></ddli>
                </div>
                
            </li>
        <% end %>
    </ul>
</div>
