<div id="page-container"> <%# everything within the page will be put in a container for the footer%>
<%= render 'navigation' %>

<h1>Movie Articles</h1>

<%# ------------- START OF SEARCH -------------- %>
<%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search for ...", class: "form-control" %>  
    <div class="input-group-btn">
      <%= button_tag "Search" %>  
    </div>  
  </div>
<% end %>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<br><br><br>
<%# ------------- END OF SEARCH -------------- %>


<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy',
                                article_path(article),
                                method: :delete,
                                data: {confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= render 'footer' %>
</div>