<div id="page-container"> 
    <%= render 'navigation' %>
    <p>
    <strong>Movie Title:</strong>
    <%= @movie.title %>
</p>

<p>
    <strong>Movie Synopsis:</strong>
    <%= @movie.synopsis %>
</p>

<h2>Reviews</h2>
<%= render @movie.reviews %>

<h2>Add a review:</h2>
<%= render 'reviews/form' %>

<p>
    <%= link_to 'Back to Movies', movies_path %>
</p>

<br><br><br><br><br><br><br>
<%= render 'footer' %>
</div>